* {
  box-style: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
}

select {
  margin: 0 0 15px;
}

button {
  display: block;
  margin: auto;
}

.results {
  height: 150px;
}

label {
  display: block;
}

input[type="text"] {
  width: 400px;
  margin: 0 0 15px;
}

.keys, .grid {
  display:  grid;
  grid-template-columns: 1fr 1fr;
}

.keys {
  height: 100px;
}

.copy {
  margin: 5px auto 20px;
  border: 1px solid lightblue
}

.encrypt,
.decrypt {
  margin-bottom: 30px;
}

textarea {
  font-size: 1rem;
  width: 400px;
  height: 200px;
}

.past {
  display: none;
}

.future {
  display: none;
}

.article__grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.img--clip-art {
  max-height: 300px;
  justify-self: center;
}

.slide {
  width: 80%;
  margin: auto;
  align-self: center;
  margin-top: 100px;
}

.slide__app {
  margin-top: 20px;
}

h1 {
  font-size: 7rem;
  margin: 25px;
}

h2 {
  font-weight: 400;
  font-size: 3.5rem;
}

.h2--huge {
  font-size: 14rem;
  font-weight: 800;
}

strong.h2 {
  font-size: 3.5rem;
}

.img--person, .img--full-slide {
  width: 100%;
}

.img--full-slide--tall {
  width: 80%;
}

.button {
  background-color: white;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
}

.button--back {
  position: absolute;
  left: 5%;
  bottom: 50px;
}

.button--next {
  position: absolute;
  right: 5%;
  bottom: 50px;
}

.button--app {
  font-size: 1rem;
}

.copy {
  margin: 5px auto 20px;
  border: 1px solid #00F;
}

.copy:hover {
  background-color: #CCF;
}

p {
  font-size: 2rem;
  margin: 40px auto;
  width: 70%;
}

p strong {
  font-size: 2rem;
}