* {
  font-size: 16px;
}

body {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

.results {
  height: 300px;
}

label {
  display: block;
}

input[type="text"] {
  width: 400px;
}

input[type="number"] {
  width: 150px;
}

.grid {
  display:  grid;
  grid-template-columns: 1fr 1fr;
}

.copy {
  margin: 5px auto 20px;
}

.encrypt,
.decrypt {
  margin-bottom: 40px;
}

textarea {
  font-size: 1rem;
  width: 406px;
  height: 200px;
}