* {
  font-size: 16px;
}

body {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

.results {
  height: 200px;
}

label {
  display: block;
}

input[type="text"] {
  width: 400px;
}

input[type="number"] {
  width: 80px;
}

.grid {
  display:  grid;
  grid-template-columns: 1fr 1fr;
}

.encrypt,
.decrypt {
  margin-bottom: 40px;
}

.encryption-result,
.decryption-result {
  font-size: 2rem;
}