* {
  box-style: border-box;
  font-size: 16px;
}

body {
  text-align: center;
}

select {
  margin: 0 0 15px;
}

button {
  display: block;
  margin: auto;
}

.results {
  height: 150px;
}

label {
  display: block;
}

input[type="text"] {
  width: 400px;
  margin: 0 0 15px;
}

.keys, .grid {
  display:  grid;
  grid-template-columns: 1fr 1fr;
}

.keys {
  height: 100px;
}

.copy {
  margin: 5px auto 20px;
}

.encrypt,
.decrypt {
  margin-bottom: 40px;
}

textarea {
  font-size: 1rem;
  width: 400px;
  height: 200px;
}